:root {
  --quickstart-primary-color-light: #0b57d0;
  --quickstart-primary-color-dark: #a8c7fa;
  --quickstart-primary-color: var(--quickstart-primary-color-light);
  --quickstart-secondary-color-light: #9aa0a6;
  --quickstart-secondary-color-dark: #9aa0a6;
  --quickstart-secondary-color: var(--quickstart-secondary-color-light);
  --quickstart-font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --quickstart-heading-font-family: inherit;
  --quickstart-logo-url: none;
  --quickstart-bg-logo-url: none;
  --quickstart-logo-height: 63px;
  --quickstart-logo-width: 300px;
  --quickstart-text-primary-light: #0b0c0d;
  --quickstart-text-primary-dark: #e8eaed;
  --quickstart-text-secondary-light: #1f1f1f;
  --quickstart-text-secondary-dark: #ffffff;
  --quickstart-bg-color-light: #f0f4f9;
  --quickstart-bg-color-dark: #1e1f20;
  --quickstart-bg-color: var(--quickstart-bg-color-light);
  --quickstart-bg-image: none;
  --quickstart-border-radius: 8px;
  --quickstart-card-shadow: none;
}

html.pf-v5-theme-dark,
html.kcDarkModeClass {
  --quickstart-primary-color: var(--quickstart-primary-color-dark);
  --quickstart-secondary-color: var(--quickstart-secondary-color-dark);
  --quickstart-bg-color: var(--quickstart-bg-color-dark);
}

:root,
html:not(.kcDarkModeClass) body:not(.kcDarkModeClass),
html:not(.kcDarkModeClass) body#keycloak-bg:not(.kcDarkModeClass) {
  --quickstart-primary-color: #9d1f1f;
  --quickstart-secondary-color: #193f88;
  --quickstart-gradient-bg-default: linear-gradient(135deg, #9d1f1f 0%, #193f88 100%);
  --quickstart-bg-color: #f0f4f9;
  --quickstart-bg-image: none;
  --quickstart-bg-logo-url: none;
  --keycloak-bg-logo-url: none;
  --quickstart-border-radius: 8px;
  --quickstart-card-shadow: none;
}

html.kcDarkModeClass,
html.kcDarkModeClass body,
html.kcDarkModeClass body#keycloak-bg,
body.kcDarkModeClass,
body#keycloak-bg.kcDarkModeClass {
  --quickstart-primary-color: #9d1f1f;
  --quickstart-secondary-color: #193f88;
  --quickstart-gradient-bg-default: linear-gradient(135deg, #9d1f1f 0%, #193f88 100%);
  --quickstart-bg-color: #1e1f20;
  --quickstart-bg-image: none;
  --quickstart-bg-logo-url: none;
  --keycloak-bg-logo-url: none;
  --quickstart-border-radius: 8px;
  --quickstart-card-shadow: none;
}