:root {
  --quickstart-primary-color-light: #1f4a9d;
  --quickstart-primary-color-dark: #1f4a9d;
  --quickstart-primary-color: var(--quickstart-primary-color-light);

  --quickstart-secondary-color-light: #193f88;
  --quickstart-secondary-color-dark: #193f88;
  --quickstart-secondary-color: var(--quickstart-secondary-color-light);

  --quickstart-border-radius: 6px;
  --quickstart-card-shadow: 0px 3px 6px 0 rgb(0 0 0 / 30%);
}

/* Light theme forced — ignore dark mode preference */
